*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
/* Helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}

.cw{color: white;}
.cb{color: black;}
.co{color: orange;}
/* basic style */

body{font-family: 'Inter', sans-serif;font-size: 14px; color: white;}

.container{min-width: 300px;}

a{text-decoration: none;color: black;}

h1,h2,h3,h4,h5{color: orange;margin-bottom: 10px;}

.button{display: inline-block; padding: 18px 28px; background-color: orange; border-radius: 3px; color: white;}

.small-text{font-size: 15px;}
.normal-text{font-size: 20px;}
.med-text{font-size: 24px;}
.big-text{font-size: 70px; font-weight: bold}

.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold;}
.big-intro-text{text-transform: uppercase; font-size: 40px; font-weight: bold;}

@media (max-width: 850px){
    .big-text{font-size: 40px;}
    .normal-text{font-size: 15px;}
    .med-text{font-size: 17px;}
    .small-text{font-size: 13px;}
    .big-intro-text{font-size: 30px;}
    .intro-text{font-size: 14px;}
    .button{padding: 14px 24px; font-size: 13px;}
}


/* Header */

.header{
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.89) 4%, rgba(0,0,0,0.3) 99%);
    display: flex;
    z-index: 100;
}

.logo{padding-right: 30px;margin: auto 0px;z-index: 1;}
.logo img{height: 45px;}

.menu{width: 100%;z-index: 0;}
.menu li{display: inline-block;}
.menu li a{display: block; color: white; padding: 40px 20px; margin: -20px 0px;}
.active{font-weight: bolder;background-color: rgba(255, 166, 0, 0.7);}
.menu li a:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.74);
}

.cta{margin: auto 0px;}

.hamburger{display: none;}

@media (max-width: 855px){
    .cta{display: none;}
    
    .menu{
        position: absolute; top: 0; right: -100%; height: 100vh; width: 100%; padding-top: 90px;
        background: rgb(15,15,20);
        transition: all 1s ease-in-out;
    }
    .menu li{display: block;}
    .menu li a{padding: 20px; margin: 0;}
    .menu--open{right: 0;}

    .hamburger{
        display: block; width: 35px; height: 30px; 
        position: absolute; top: 20px; right: 30px;
    }
    .hamburger span{display:block;background-color:orange; margin-bottom: 4px; padding: 2px; border-radius: 1.5px;}
}

/* Hero */

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0, 0.4) 100%),url('./images/background.png') no-repeat center center;
    background-size: cover;
}
.hero2{width: 100%;height: 90vh;display: flex;align-items: center;background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0, 0.4) 100%),url('./images/wiki.jpg') no-repeat center center;background-size: cover;}
.hero3{width: 100%;height: 90vh;display: flex;align-items: center;background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0, 0.4) 100%),url('./images/classes.png') no-repeat center center;background-size: cover;}
.hero4{width: 100%;height: 100vh;display: flex;align-items: center;background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0, 0.4) 100%),url('./images/mondi.png') no-repeat center center;background-size: cover;}
.hero5{width: 100%;height: 100vh;display: flex;align-items: center;background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0, 0.4) 100%),url('./images/equip.png') no-repeat center center;background-size: cover;}

.hero__content{
    width: 100%;
    padding-left: 30px;
    max-width: 1000px;
    margin: 0px auto;
}
.hero__content h1, .hero__content p{color:white;}

/* main */

.main{padding: 30px;}

/* intro */

.intro{margin: 50px auto; max-width: 900px; color: black; text-align: center; padding: 0 30px;}

/* showcase */

.showcase{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.showcase a{color: white; display: inline-block;width: 100%;}
.showcase__text{ margin: 20px auto;width: 100%;}
.showcase__text h2{margin: 0; text-transform: uppercase; font-weight: bold; text-align: center; font-size: 6em; color: black;}

.showcase__text-mod{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -55%);}
.showcase__text-mod h2{margin: 0; margin-right: -70px; text-transform: uppercase; font-weight: bold; text-align: center; font-size: 7.5em; letter-spacing: 70px;}

.showcase__caption{
    min-width: 250px;
    width: 31.5%;
    background-color: rgb(15,15,20);
    margin: 10px auto;
}
.showcase__caption p{padding: 20px;text-align: center;}

.showcase__caption-mod{min-width: 250px;width: 31.5%;background-color: rgb(15,15,20);margin: 10px auto;}
.showcase__caption-mod p{padding: 30px;text-align: center;text-transform: uppercase;font-weight: bold;}

.showcase__caption__img{width: 100%;height: calc(100vw / 3);}
.showcase__caption__img img{object-fit: cover;object-position: 50% 10%; width: 100%;height: 100%;}


@media (max-width: 625px){
    .showcase__caption__img{width: 100%;height: calc(100vw - 100px);}
    .showcase__caption,.showcase__caption-mod{ width: 100%;}
    .showcase__text h2{font-size: 60px;}
    .showcase__text-mod h2{font-size: 60px;letter-spacing: 40px;margin-right: -40px;}
    .showcase__caption p{padding: 30px;}
}

/* poster */

.poster{
    display: flex;
    flex-flow: row wrap;
    height: 70vh;
    align-items: center;
    background-color: rgb(15,15,20);
}
.poster__content{ width: 40%; padding: 40px 80px;}
.poster__content p{padding-bottom: 20px; max-width: 90%;}

.poster__img{ width: 60%; height: 100%;}
.poster__img img{ width: 100%; height: 100%; object-fit: cover;}

@media (max-width: 850px){
    .poster__content{padding: 40px;}
}
@media (max-width: 715px){
    .poster{height: fit-content;}
    .poster__content{width: 100%; order: 2;}
    .poster__img{ width: 100%;height: 100%; order: 1;}
    .poster__img img{ width: 100%; object-fit: cover;}
}

/* miniposter-pagina mondi*/

.miniposter{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 70vh;
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(15,15,20);
}

.miniposter__img{ width: 40%; height: 100%;}
.miniposter__img img{object-fit: cover;width: 100%;height: 100%;}
.miniposter__content{width: 60%;padding: 50px;margin: auto;}

.miniposter__content h2{margin-left: -50px;padding-left: 50px;border-left: 5px solid orange;}
.miniposter__content p{line-height: 30px;}

@media (max-width: 1024px){
    .miniposter{height: 80vh;}
    .miniposter__content{padding: 40px;}
    .miniposter__content h2{margin-left: -40px;padding-left: 40px;}
}
@media (max-width: 820px){
    .miniposter{height: fit-content; max-width: 100%;}
    .miniposter__content{width: 100%;}
    .miniposter__img{ width: 100%;height: 100%;}
    .miniposter__img img{width: 100%; object-fit: cover;}
    .miniposter__content p{line-height: 18px;}
}


/* footer */

.footer{
    height: 40vh; width: 100%;background-color: rgb(15,15,20);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 70px;
}
.footer p{margin-top: 20px;text-align: center;}

/* article */

.article{ max-width: 70%; margin: 50px auto; background-color: rgb(15,15,20);}
.article__img{width: 100%; height: 60vh;}
.article__img-mod{width: 100%; height: 40vh; position: relative;}
.article__img-mod::after{
    content: ''; position: absolute; top: 0;left: 0;right: 0;bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0, 0.4) 100%);
}
.article__img__text{
    position: absolute; top: 50%;left: 0; z-index: 1;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 80px;
    max-width: 1000px;
    margin: 0px auto;
}
.article__img img{object-fit: cover; object-position: 60% 30%; width: 100%; height: 100%;z-index: 0;}
.article__img-mod img{object-fit: cover; object-position: 60% 10%; width: 100%; height: 100%;z-index: 0;}

.article__content{padding: 40px;}
.article__content p{margin-bottom: 20px;line-height: 25px;}
.article__content h2{margin-left: -40px;padding-left: 40px;border-left: 6px solid orange; margin-top: 50px;margin-bottom: 30px;}
.article__content span{display: inline-block; margin-bottom: 15px;font-size: 24px;font-weight: bold;}
.article__content ul{list-style-type:square;margin-bottom: 20px;}
.article__content li{margin-left: 30px;line-height: 27px;font-size: 20px;}

.article__content__paragraph {margin-bottom: 30px;}
.article__content__paragraph p{text-align: justify;}
.article__content__paragraph span{display: inline-block;margin-bottom: 5px; font-size: 18px;font-weight: bold;}
.article__content__paragraph__img{width: 20vw; height: 40vh}
.article__content__paragraph__img img{object-fit:cover; width: 100%; height: 100%;}
.fl{float: left; margin-right: 20px; margin-bottom: 10px;}
.fr{float: right; margin-left: 20px; margin-bottom: 10px;}

@media (max-width: 850px){
    .article{ max-width: 100%;}
    .article__img_text{padding-left: 30px;}
    .article__content{padding: 30px;}
    .article__content p{margin-bottom: 15px;line-height: 20px;}
    .article__content h2{margin-left: -25px;padding-left: 25px; margin-top: 35px;margin-bottom: 25px;}
    .article__content span{margin-bottom: 10px;font-size: 17px;}
    .article__content ul{margin-bottom: 15px;}
    .article__content li{margin-left: 25px;line-height: 22px;font-size: 15px;}

    .article__content__paragraph__img{width: 100%;}
    .article__content__paragraph span{font-size: 15px;}
}
@media (max-width: 715px){}

/* choice bar */

.choice-bar{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 30px;
    background-color: orange;
    height: 30vh;
    border-top: 30px solid rgb(15,15,20);
    border-bottom: 30px solid rgb(15,15,20);
}
.choice-bar_img{height: 100%; cursor: pointer; margin: auto;}
.choice-bar_img img{height: 100%;}


@media (max-width: 850px){

    .choice-bar_img{height: 50%;}
}

/* moving section */

.mooving_section{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.hunter,.titan,.warlock {
    display: none;
    width: 100%;
    padding: 0px 30px;
}

.left {order:1; display:block}


/* MAPPA */


.map{
    padding: 0px;
    border-top: 50px solid rgb(15,15,20);
    border-bottom: 50px solid rgb(15,15,20);
    background-color:orange;
}
.map__img{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: -2px;
    margin-top: -2px;
}
.map__img img{
    height: 100%;
    width: 100%;
}

@media (max-width: 750px){
    .map{
        padding: 5px 0;
        border-top: 20px solid rgb(15,15,20);
        border-bottom: 20px solid rgb(15,15,20);
    }
    .map__img{width: 100%;height: 100%;}
}

/* table */

.tabella{margin-top: 50px; overflow-x: auto;}
table{ width: 80%; margin: auto;}
tr:hover {background-color: gainsboro;}

table, th, td{text-align: center;color: black; padding: 15px;border: black solid 2px;border-collapse: collapse;}
th{text-align: left;font-size: 18px;color: orange;background-color: rgb(15,15,20);border: solid 2px white;text-transform: uppercase;}
.table_1th{text-align: center;background-color: white;color: black;font-size: 25px;}

.table_basic{text-align: center;background-color: rgb(15,15,20);border-bottom: 7px solid rgb(158, 157, 157);}
.table_common{text-align: center;background-color: rgb(15,15,20);border-bottom: 7px solid rgb(8, 201, 8);}
.table_rare{text-align: center;background-color:rgb(15,15,20);border-bottom: 7px solid rgb(50, 50, 226);}
.table_legendary{text-align: center;background-color: rgb(15,15,20);border-bottom: 7px solid rgb(146, 3, 146);}
.table_exotic{text-align: center; background-color: rgb(15,15,20); border-bottom: 7px solid rgb(228, 228, 4);}

/* freccia per tornare su */

#tornasu{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 10px;
    }
.tornasu{
    width: 50px;
    height: 50px;
}